body{
	background: rgb(255,242,42);
background: linear-gradient(90deg, rgba(255,242,42,1) 0%, rgba(242,160,0,1) 27%,
 rgba(146,255,231,1) 57%, rgba(159,255,199,1) 100%);
}
.canvas {
	margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: center;
}
.wrapper{
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 32px;
	color:green;
}
button {
	font-size: 30px;
	background: rgba(0, 0, 0, 0.4);
	padding: 10px;
	border-radius: 16px;
}
.control{
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}